<section class="bg-accent-pink flex flex-col relative py-8 bg-body overflow-hidden items-center">
    <div class="relative container px-4 mx-auto">
        <div class="mb-6 block text-center">
            <h5 class="text-3xl md:text-3xl xl:text-3xl font-bold font-heading tracking-wider leading-none">Need Help Starting or Growing your Women’s Ministry?</h5>
        </div>
        <div class="mx-auto">
            <div class="p-8 md:p-12">
                <ul>
                    <li>Were you volun-told you were now the Women’s Ministry Leader at your church, but don’t know where to start?</li>
                    <li>Do you find your women’s ministry needs a refresh, still sharing the timeless Truth’s of the Gospel but in a way that reaches today’s woman?</li>
                    <li>Does your church lack a women’s ministry, and you feel God calling you to start one, but you have no idea where to begin?</li>
                    <li>Perhaps you have an established women’s ministry, but you’re doing all the work yourself. Do you need help delegating, creating a leadership pipeline, or a better grasp on organizing events?</li>
                    <li>Do you need help navigating which Bible Studies and events are right for your women?</li>
                    <li>Are you interested in planning a Ladie’s Night Out, conference, or reatreat, but are overwhelmed by the idea?</li>
                    <li>Are you curious how to start a mentor or discipleship program?</li>
                    <li>Do you need guidance on budgeting, planning, carrying out events?</li>
                </ul>
            </div>
        </div>
    </div>
</section>

