<section class="bg-accent-pink grid grid-cols-2 relative py-8 bg-body overflow-hidden items-center">
    <!--<img class="absolute bottom-0 right-0" src="https://shuffle.dev/flaro-assets/images/contact/gradient2.svg" alt=""> -->
        <div class="p-8 md:p-12">
            <img class="h-auto w-full mx-auto" src="/img/about-laura.webp" />
        </div>
    <div class="relative container px-4 mx-auto">
        <div class="mb-6 block text-center">
            <h5 class="text-3xl md:text-3xl xl:text-3xl font-bold font-heading tracking-wider leading-none">Ministry is Hard. Let’s Partner Together.</h5>
        </div>
    <div class="mx-auto">
        <div class="p-8 md:p-12">
            <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
            Are you a women’s ministry leader who desires to serve the ladies in your church and community well?
            </p>
            <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
             Are you walking faithly and obediently in God’s call to “go and make disciples?”
            </p>
            <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
            Are you both similitalantious spiritually filled and depleted in ministry?
            </p>
            <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
            I get it. Ministry is hard.
            </p>
            <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
            Leading a group of women can at times be discouraging, dissappointing, and disheartening–especially when we loose focus on Who we are serving.
            </p>
            <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
            Matthew 9:35-38 tells us that Jesus had compassion on the people, they were like lost sheep in need of Shephard. Jesus then turns to his disciples and invites them into showing compassion for those who are spiritually lost. The harvest, those who are open to hearing the Gospel is plentiful. Jesus invites us to be active partipants, co-laborers in sharing the eternal hope found in Christ.
            </p>
            <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
            We pray for the advancement of the Gospel, we help train and equip the saints for service, and we remember our purpose–to make God known. So Let’s get to work!
            </p>
        </div>
    </div>
    </div>
</section>

