<section class="bg-white flex flex-col relative py-8 bg-body overflow-hidden items-center">
    <div class="grid grid-cols-2 container px-4 mx-auto">
        <div class="relative container px-4 mx-auto">
            <div class="mx-auto">
                <div class="p-8 md:p-12">
                    <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
                    For the past five years I’ve been the women’s ministry director at my church. I understand the challenges, and concerns you may have stepping into leadership role. Don’t let fear, other’s opinions, or “visible growth,” stop you from walking into your call to serve the saints.
                    </p>
                    <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
                    Click below for Resources to help plan, organize, and grow your women’s ministry.
                    </p>
                </div>
            </div>
        </div>
        <div class="p-8 md:p-12">
            <img class="h-auto w-full mx-auto" src="/img/ministry-resources.webp" />
        </div>
    </div>
    <div class="grid grid-cols-2 container px-4 mx-auto">
        <div class="p-8 md:p-12">
            <img class="h-auto w-full mx-auto" src="/img/ministry-contact.webp" />
        </div>
        <div class="relative container px-4 mx-auto">
            <div class="mx-auto">
                <div class="p-8 md:p-12">
                    <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
                    For the past five years I’ve been the women’s ministry director at my church. I understand the challenges, and concerns you may have stepping into leadership role. Don’t let fear, other’s opinions, or “visible growth,” stop you from walking into your call to serve the saints.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
