<html>
    <head></head>
    <body>
        <div style="font-family: system-ui, sans-serif, Arial; font-size: 12px;">
        <div>
        <p>Hello Laura,</p>
        <p>You received a new message through your website's contact form.&nbsp;</p>
        <p><strong>Message Submitter Name:</strong>&nbsp;</p>
        <p>{{reply_name}}</p>
        <p><strong>Message Contents:</strong></p>
        <p>{{message}}</p>
        <p><strong>Message Sender's Email Address:&nbsp;</strong></p>
        <p>{{reply_email}}</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>Please remember, you will need to send an email directly to {{reply_email}} !</p>
        </div>
        </div>
    </body>
</html>
