<section class="relative py-8 bg-body overflow-hidden">
<div class="bg-accent-pink flex place-items-center">
    <div>
        <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto italic">
"Laura was a joy to work with! She was on time, payed attention to details, and worked with excellence. I love her heart for exegetical study, and here desire to help women better understand Scripture."
</p>
<p class="text-xl font-light leading-relaxed text-gray-500 max-w-3xl mx-auto">
-Katie Orr, Speaker, Writer, Bible Coach, BibleStudyHub.com
</p>
    </div>
    <div>
        <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto italic">
"I love listening to Laura! Her authentic delivery is so refreshing yet convicting in areas I need to grow spiritually. As a wife, mom, and pastors wife I highly recommend Laura."
</p>
<p class="text-xl font-light leading-relaxed text-gray-500 max-w-3xl mx-auto">
- Brittany Dye, Pastor’s Wife at First Baptist of Cowpens
</p>
    </div>
    <div>
        <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto italic">
"Laura spoke at our Sisters in Christ Women’s conference this past fall. She is an energetic, captivating, and relatable speaker.  Her message spoke truth which was biblically grounded."
</p>
<p class="text-xl font-light leading-relaxed text-gray-500 max-w-3xl mx-auto">
- Dawn Womack, Women’s Ministry Leader
</p>
    </div>
</div>
</section>

