<section class="bg-accent-pink flex justify-center p-12">
    <div id="accordion-card" data-accordion="collapse" class="w-full rounded-base border border-default overflow-hidden shadow-xs" >
        <h2 id="accordion-card-heading-1">
            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-body rounded-base shadow-xs border border-default hover:text-heading hover:bg-neutral-secondary-medium gap-3 [&[aria-expanded='true']]:rounded-b-none [&[aria-expanded='true']]:shadow-none" data-accordion-target="#accordion-card-body-1" aria-expanded="true" aria-controls="accordion-card-body-1">
                <span>Living in Light of Eternity : Lessons from the book of Ecclesiastes</span>
                <svg data-accordion-icon class="w-5 h-5 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 15 7-7 7 7"/></svg>
            </button>
        </h2>
        <div id="accordion-card-body-1" class="hidden border border-t-0 border-default rounded-b-base shadow-xs" aria-labelledby="accordion-card-heading-1">
            <div class="p-4 md:p-5">
                <p class="mb-2 text-body">
                For many, the busyness of our lives is the result of saying yes to good things. But at what cost? When did we trade our physical, mental, emotional, and spiritual health for a couple extra likes, fewer numbers on the scale, a bit more in our bank account, or one more thing marked off our to-do list? Do you find that your life is checking all the right boxes but you are still unable to find satisfaction or contentment?
                </p>
                <p class="mb-2 text-body">
What’s the answer for today’s worn-out woman? A shift in perspective.
                </p>
                <p class="mb-2 text-body">
Ecclesiastes teaches us to stop pursuing the temporary things of this world, and start embracing the eternal, things of God. Through Solomon’s life and his quest for meaning, we find hope and encouragement as we shift our perspectives from temporary to eternal.
                </p>
                <p class="mb-2 text-body">
We will explore Ecclesiastes in detail, delving into its historical and biblical context to unpack timeless truths, personal understanding of the text, asking why it matters to their faith and how to apply it to our lives.
                </p>
            </div>
        </div>
        <h2 id="accordion-card-heading-2" class="mt-4">
            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-body rounded-base shadow-xs border border-default hover:text-heading hover:bg-neutral-secondary-medium gap-3 [&[aria-expanded='true']]:rounded-b-none [&[aria-expanded='true']]:shadow-none" data-accordion-target="#accordion-card-body-2" aria-expanded="false" aria-controls="accordion-card-body-2">
                <span>Unbothered: Looking Past Offense, Leaning into Relationships, & Loving the Unloveable</span>
                <svg data-accordion-icon class="w-5 h-5 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 15 7-7 7 7"/></svg>
            </button>
        </h2>
        <div id="accordion-card-body-2" class="hidden border border-t-0 border-default rounded-b-base shadow-xs" aria-labelledby="accordion-card-heading-2">
            <div class="p-4 md:p-5">
                <p class="mb-2 text-body">
                Relationships are hard–friendships, collegues, marriage, family, church community– it takes work to love the people who drive you crazy. Paul in his letter to the Romans speaks to not only how we can learn to love even the most difficult people but why we can and should.
                </p>
                <p class="text-body">
                We will look specifically at what Romans 12 says about unity in the church, utlizing our spiritual gits, and love in action.
                </p>
            </div>
        </div>
        <h2 id="accordion-card-heading-3" class="mt-4">
            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-body rounded-base shadow-xs border border-default hover:text-heading hover:bg-neutral-secondary-medium gap-3 [&[aria-expanded='true']]:rounded-b-none [&[aria-expanded='true']]:shadow-none" data-accordion-target="#accordion-card-body-3" aria-expanded="false" aria-controls="accordion-card-body-3">
                <span>
                Trusting God in Unceratainty: Lessons from the book of Habbakuk
                </span>
                <svg data-accordion-icon class="w-5 h-5 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 15 7-7 7 7"/></svg>
            </button>
        </h2>
        <div id="accordion-card-body-3" class="hidden border border-t-0 border-default rounded-b-base shadow-xs" aria-labelledby="accordion-card-heading-3">
            <div class="p-4 md:p-5">
                <p class="mb-2 text-body">
                Have you ever struggled to trust in God’s plan? You know that He is God, you know He is faithful, and you know that He can be trusted. But, your current circumstances are causing doubt and uncertainity, your faith wavering.
                </p>
                <p class="mb-2 text-body">
                The book of Habbakuk reminds us that having Faith doesn’t remove hardships and hurts of this life. But, having faith does help us realize that no matter what God has planned for His people, God can be trusted, even when we don’t understand His ways. We can still praise he Lord for being our Savior and strength, even in his darkest moments.
                </p>
            </div>
        </div>
        <h2 id="accordion-card-heading-4" class="mt-4">
            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-body rounded-base shadow-xs border border-default hover:text-heading hover:bg-neutral-secondary-medium gap-3 [&[aria-expanded='true']]:rounded-b-none [&[aria-expanded='true']]:shadow-none" data-accordion-target="#accordion-card-body-4" aria-expanded="false" aria-controls="accordion-card-body-4">
                <span>
                Blessed Assurance: Gospel Hope for those who wrestle and struggle in their faith ( various teachings on the book of Romans)
                </span>
                <svg data-accordion-icon class="w-5 h-5 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 15 7-7 7 7"/></svg>
            </button>
        </h2>
        <div id="accordion-card-body-4" class="hidden border border-t-0 border-default rounded-b-base shadow-xs" aria-labelledby="accordion-card-heading-4">
            <div class="p-4 md:p-5">
                <p class="mb-2 text-body">
                Does your continued struggle with sin, tendency to question God, and reluctance to walk by faith lead you to reexamine your salvation? Or perhaps you are secure in the security of your soul but wonder, “Am I doing enough for the Lord? Does He love me less when I fall short? Am I living a life pleasing to Him?”
                </p>
                <p class="mb-2 text-body">
                These teachings will discuss openly our questions, insecurities, and struggles with God and our faith. Using the book of Romans as the theological foundation to explain that, though we experience doubt, we can be assured of our faith and salvation. As we begin to understand why we doubt, we are better able to address how we can fight and ultimately overcome its stronghold over our thoughts and beliefs.
                </p>
            </div>
        </div>
        <h2 id="accordion-card-heading-5" class="mt-4">
            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-body rounded-base shadow-xs border border-default hover:text-heading hover:bg-neutral-secondary-medium gap-3 [&[aria-expanded='true']]:rounded-b-none [&[aria-expanded='true']]:shadow-none" data-accordion-target="#accordion-card-body-5" aria-expanded="false" aria-controls="accordion-card-body-5">
                <span>
                Created for A Purpose: Understanding our Unique Roles of Women – Gensis 2 and 3
                </span>
                <svg data-accordion-icon class="w-5 h-5 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 15 7-7 7 7"/></svg>
            </button>
        </h2>
        <div id="accordion-card-body-5" class="hidden border border-t-0 border-default rounded-b-base shadow-xs" aria-labelledby="accordion-card-heading-5">
            <div class="p-4 md:p-5">
                <p class="mb-2 text-body">
                There is a lot of confusion about what it means to be a biblical woman. Unfortunately we have made the conversation more about the specifics of womanhood, gender roles, motherhood, work, service in the church, and less about why were created, and God’s unique design for women.
                </p>
                <p class="mb-2 text-body">
                In this teaching we will focus on God’s purpose for creating females, our relationship with our male counterparts, how our struggle with sin effects our relationships, and examine how the way God created us uniquily and our current circumstance complents not competes with God’s orginal design for womanhood.
                </p>
            </div>
        </div>
        <h2 id="accordion-card-heading-6" class="mt-4">
            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-body rounded-base shadow-xs border border-default hover:text-heading hover:bg-neutral-secondary-medium gap-3 [&[aria-expanded='true']]:rounded-b-none [&[aria-expanded='true']]:shadow-none" data-accordion-target="#accordion-card-body-6" aria-expanded="false" aria-controls="accordion-card-body-6">
                <span>
                Never Enough: How the Gospel frees us from the weight of perfection and weariness of performance
                </span>
                <svg data-accordion-icon class="w-5 h-5 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 15 7-7 7 7"/></svg>
            </button>
        </h2>
        <div id="accordion-card-body-6" class="hidden border border-t-0 border-default rounded-b-base shadow-xs" aria-labelledby="accordion-card-heading-6">
            <div class="p-4 md:p-5">
                <p class="mb-2 text-body">
                Everywhere you turn, the message is loud and clear: do more, be more. Life feels like a race that you’re always losing. What if winning doesn’t involve trying harder, but resting in what Christ has already won?
                </p>
                <p class="mb-2 text-body">
                You stay up late. You wake up early. You try to eat right. You go to work. You balance marriage,motherhood, and friendships. You serve at church. You read your Bible. You are doing all the things that the culture and the church say should make you feel like you are winning at life.Yet, why does it feel like no matter what you do, you are never enough? Why does it feel like you are failing your people, yourself, and God?
                </p>
                <p class="mb-2 text-body">
                In a culture that promotes achievement and the pursuit of perfection, we’ve become enslaved to the notion that we can be it all, we can have it all, if we just try a bit harder. This perfectionist prison we’ve placed ourselves in only leads us to feeling overwhelmed, exhausted, and defeated. And the worst part is that we’ve allowed the culture’s view of success to infiltrate our faith. We’ve carried over this belief that God will only love us if we can check all the right boxes,keep all His commands, and never falter in our faith. But God doesn’t require us to earn His love and affection. We don’t have to perform for God’s approval—Christ already secured that on our behalf.
                </p>
                <p class="mb-2 text-body">
                From a misguided view of self-worth to a distorted view of God’s grace, audience members will learn to recognize the subtle lies of perfectionism and begin to walk in the freedom found in the gospel. 
                </p>
                <p class="mb-2 text-body">
                Scripture: Romans 5
                </p>
            </div>
        </div>
    </div>

</section>
