<section class="relative py-8 bg-body overflow-hidden">
  <!--<img class="absolute bottom-0 right-0" src="https://shuffle.dev/flaro-assets/images/contact/gradient2.svg" alt=""> -->
  <div class="relative container px-4 mx-auto">
      <div class="mb-6 block text-center">
        <h3 class="text-4xl md:text-6xl xl:text-8xl font-bold font-heading tracking-wider leading-none">Speaking Engagements</h3>
      </div>
  </div>
<div class="bg-accent-pink grid md:grid-cols-2 gap-8 place-items-center">
    <div class="p-8 md:p-12">
        <img class="h-auto w-3/4" src="/img/speaking-main.webp" />
    </div>
    <div class="p-8 md:p-12">
        <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
        Laura is an author, speaker, and Bible teacher who equips and encourages women to live life filtered through the lens of eternity. Why does this matter? Because when we shift our perspective from temporary to eternal, it transforms our lives. We trade chaos for clarity, randomness for purpose, hopelessness for joy, and anxiousness for peace.
        </p>
        <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
She lives in Gaffney, SC, and is open to speaking to small groups, churches, retreats and  conferences. Laura speaks on the topics below: single or multi-session.
        </p>
        <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto italic">
Don’t see a topic that fits the needs of your event? Laura is happy to discuss with you other Scriptures & topics for your ministry goals.
</p>
    <a href="/engagement-form.html">
        <button type="button" class="text-white bg-accent-secondary box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Submit a Speaking Inquiry</button>
    </a>
    </div>
</div>
</section>

