<section class="bg-accent-pink relative py-8 bg-body overflow-hidden flex flex-col items-center">
    <!--<img class="absolute bottom-0 right-0" src="https://shuffle.dev/flaro-assets/images/contact/gradient2.svg" alt=""> -->
        <div class="p-8 md:p-12">
            <img class="h-auto w-1/2 mx-auto" src="/img/about-laura.webp" />
        </div>
    <div class="relative container px-4 mx-auto">
        <div class="mb-6 block text-center">
            <h5 class="text-3xl md:text-3xl xl:text-3xl font-bold font-heading tracking-wider leading-none">Embracing Eternity in the Here and Now</h5>
        </div>
    </div>
    <div class="mx-auto">
        <div class="p-8 md:p-12">
            <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
            I wanted all the benefits of a relationship with God without completely surrendering my life to Him. I lived both in the world and of it, while trying to maintain the appearance of a good Christian. That double life led to constant inner conflict and turmoil, but all that changed when I handed over the reigns to the Lord and surrendered my will to Him in every aspect.
            </p>
            <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
             Soon, I began to comprehend what matchless grace and mercy God had bestowed on me, a real sinner — He saved me, not only from an eternity separated from Him, but also from many consequences of my sinful lifestyle.  I continue to battle the desires of the flesh and the Enemy, Satan, who seeks to prevent me from telling others about God’s wonderful grace and mercy, free to us at the cost of His son’s life.  
            </p>
            <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
            Daily, I make the choice to die to myself and let Christ rule my heart and mind for every thought and action. After many years of believing Satan’s lie that giving my life to Christ meant a life without pleasure and “good” things, I discovered quite the opposite — the more I decrease and He increases, the richer and more abundant my life becomes
            </p>
            <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
            Laura Bailey is a Bible teacher who challenges and encourages women to dive deep in the Scriptures, shift from an earthly to an eternal mindset, and filter life through the lens of God’s Word. She is a wife and momma to three young girls. She is the author of, Beyond the Noise: Silencing the Deceiver in Loud World of Lies  and blogs at www.LauraRBailey.com, connect with her on Facebook and Instagram @LauraBaileyWrites
            </p>
        </div>
    </div>
</section>

