<section class="bg-accent-pink relative py-8 bg-body overflow-hidden">
    <!--<img class="absolute bottom-0 right-0" src="https://shuffle.dev/flaro-assets/images/contact/gradient2.svg" alt=""> -->
    <div class="relative container px-4 mx-auto">
        <div class="mb-6 block text-center">
            <h5 class="text-3xl md:text-3xl xl:text-3xl font-bold font-heading tracking-wider leading-none">Beyond the Noise: Silencing the Deceiver in a Loud World of Lies</h5>
        </div>
    </div>
    <div class="grid md:grid-cols-2 gap-8 place-items-center">
        <div class="p-8 md:p-12">
            <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
            Women tend to over-think practically everything, so it can be quite scary for most of us to be left alone with our thoughts. Beyond the Noise explores ten lies Satan, the deceiver, wants us to believe so we live in darkness and defeat instead of the light and power of the Truth. Readers will readily recognize and relate to the deceit and trickery of the old serpent and will receive Biblical principles and insights to stand firm and fight the perpetual, daily battles against the wicked one.
            </p>
        </div>
        <div class="p-8 md:p-12">
            <img class="h-auto w-3/4" src="/img/beyond-noise.webp" />
        </div>
    </div>
</section>

