<section class="bg-accent-pink relative py-8 bg-body overflow-hidden">
    <!--<img class="absolute bottom-0 right-0" src="https://shuffle.dev/flaro-assets/images/contact/gradient2.svg" alt=""> -->
    <div class="relative container px-4 mx-auto">
        <div class="mb-6 block text-center">
            <h5 class="text-3xl md:text-3xl xl:text-3xl font-bold font-heading tracking-wider leading-none">Ecclesiastes: Life Filtered Through the Lens of Eternity</h5>
        </div>
    </div>
    <div class="grid md:grid-cols-2 gap-8 place-items-center">
        <div class="p-8 md:p-12">
            <img class="h-auto w-3/4" src="/img/ecclesiastes.webp" />
        </div>
        <div class="p-8 md:p-12">
            <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
            Do you aspire to find meaning in your identity, career, family, or possessions but still feel like you are missing something? Are you tired of striving, measuring up, chasing the next big thing in your pursuit of happiness? Do you desire lasting peace, joy, and hope?
            </p>
            <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
            Ecclesiastes: Life Filtered Through the Lens of Eternity is a ten-week Bible study that teaches us to stop pursuing the temporary things of this world, and start embracing the eternal, things of God. Through Solomon’s life and his quest for meaning, readers will find hope and encouragement as they shift their perspectives from temporary to eternal.
            </p>
            <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
            We will explore Ecclesiastes in detail, delving into its historical and biblical context to unpack timeless truths. Each week, study questions will invite the reader to a more profound and personal understanding of the text, asking why it matters to their faith and how to apply it to their lives.
            </p>
        </div>
    </div>
</section>

