<section class="bg-accent-pink relative py-8 bg-body overflow-hidden">
    <!--<img class="absolute bottom-0 right-0" src="https://shuffle.dev/flaro-assets/images/contact/gradient2.svg" alt=""> -->
    <div class="relative container px-4 mx-auto">
        <div class="mb-6 block text-center">
            <h5 class="text-3xl md:text-3xl xl:text-3xl font-bold font-heading tracking-wider leading-none">Steadfast - Devotional</h5>
        </div>
    </div>
    <div class="grid md:grid-cols-2 gap-8 place-items-center">
        <div class="p-8 md:p-12">
            <img class="h-auto w-3/4" src="/img/steadfast-cover.webp" />
        </div>
        <div class="p-8 md:p-12">
            <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
            Experiencing peace comes from a mind firmly focused on trusting the Lord. 
            </p>
            <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
            So, how do we do that? How do we keep our thoughts on God day and night in a world overflowing with distractions?
            </p>
            <p class="text-xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
            We set our hearts and minds on the things of the Lord. This lifelong process results from continual immersion in God’s Word and the Holy Spirit’s work in our lives. In other words, it takes intention and time; it is a consistent and constant surrendering of our thoughts to the Lord. Let me invite you to start today with this 31-day devotional and prayer journal. 
            </p>
            <ul>
                <li>31 days of daily Scriptures that encourage you as you linger with the Lord and meditate on His Word day and night.</li>
                <li>Each day comprises a key verse, devotional, prayer, faith step, and reflection.</li>
                <li>Extra resources, such as How to Live a God-Centered Life and How to Stay Encouraged When Your Faith is Wavering, are also included to help you focus on the Lord.</li>
            </ul>
        </div>
    </div>
</section>


