<section class="bg-accent-pink grid md:grid-cols-2 gap-8 place-items-center">
    <div class="p-8 md:p-12">
        <img class="h-auto w-3/4" src="img/home-hero.png" />
    </div>
    <div class="p-8 md:p-12">
        <p class="text-3xl font-light leading-relaxed text-gray-700 max-w-3xl mx-auto">
        Welcome! I am so glad you are here. I’m Laura, a Bible teacher who is passionate about helping women understand what they believe, why it matters, and apply God’s Word to their lives.
        <br>
        Join me as we dive deep into the Scriptures, shift our perspectives from temporary to eternal, and experience the abundant life in Christ.
        </p>
    </div>
</section>

