<section class="grid grid-cols-2 gap-8 place-items-center py-16 px-4">
    <div class="col-span-1">
        <h1 class="text-3xl font-semibold text-gray-700">Subscribe</h1>
        <p class="text-gray-500 mt-2">Sign up for encouraging devotions, articles, and Bible teachings.</p>
        <div class="flex items-center gap-4 mt-10">
            <input class="py-2 px-3 w-full outline-none focus:border-indigo-500/60 transition max-w-64 border border-gray-500/30 rounded-md" type="text" placeholder="Enter your email">
            <button class="bg-accent-secondary  transition-all px-6 py-2 text-white font-medium">Subscribe</button>
        </div>
    </div>
    <div class="space-y-4 md:max-w-48">
        <div class="flex items-center gap-3">
            <a href="/contact">Contact</a>
        </div>
        <div class="flex items-center gap-3">
            <a href="#">Privacy</a>
        </div>
        <div class="flex items-center gap-3">
            <a href="#">Terms & Conditions</a>
        </div>
        <div class="flex items-center gap-3">
            <a href="#"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
  <path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/>
</svg>

</a>
            <a href="#"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
  <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
</svg>
</a>
        </div>
    </div>
</section>
